.book-container {
    overflow: hidden;
    background-color: whitesmoke;
    height: calc(100vh - 50px);
}

#flipbook {
    user-select: none;
    margin: calc(50vh - 285px) auto;
}

#flipbook p {
    margin: 0.25rem 1rem;
    text-align: justify;
}

#flipbook p:not(.subTitle),
#flipbook p:not(.title),
#flipbook p:not(.notP) {
    text-indent: 12px;
}

#flipbook p.notP {
    text-indent: unset;
}

#flipbook .page {
    line-height: 18px;
    font-size: 12px;
}

#flipbook .page p:first-of-type {
    margin-top: 1rem;
}

#flipbook .subTitle {
    line-height: 27px;
    font-size: 18px;
}

#flipbook .title {
    line-height: 36px;
    font-size: 24px;
}

#flipbook .hard {
    background: rgb(190, 190, 190) !important;
    color: rgb(90, 90, 90);
    font-weight: bold;
    -webkit-box-shadow: inset 0 0 5px #666;
    -moz-box-shadow: inset 0 0 5px #666;
    -o-box-shadow: inset 0 0 5px #666;
    -ms-box-shadow: inset 0 0 5px #666;
    box-shadow: inset 0 0 5px #666;
}

#flipbook .odd {
    background-image: -webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
}

#flipbook .even {
    background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image: linear-gradient(left, #fff 95%, #dadada 100%);
}

#flipbook .page-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}